<div *ngIf='displayData === false; else displayDataBlock'>
  No art object could be found by your query
</div>

<ng-template #displayDataBlock>
  <mat-grid-list cols='6' gutterSize='5px' class="mat-grid-list">
    <mat-grid-tile
      *ngFor="let artObject of data?.artObjects"
      class="mat-grid-tile"
      (click)='getDetailedData($event)'>
      <mat-card style="width: 150px" class="mat-card">
        <div class="mat-card-image" (mouseenter)='onHover()' (mouseleave)='offHover()'>
          <img mat-card-image src="{{ artObject[headerImage][url] }}" alt="" class="image">
        </div>
        <div class="mat-tooltip" *ngIf='displayOnHover === true'>{{ artObject.longTitle }}</div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<mat-paginator
  [length]='data?.count'
  [pageIndex]='initialNumOfPages'
  [pageSize]='initialResPerPage'
  [pageSizeOptions]='pageSizeOptions'
  showFirstLastButtons>
</mat-paginator>