<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-content-around my-4">
    <div class="w-75">
      <h2 class="text-center d-flex justify-content-center align-items-center mx-2 my-0 p-2">
        {{ details?.artObject?.title }}
      </h2>
    </div>
    <div class="d-flex justify-content-center align-items-center w-25">
      <button type="button" class="btn btn-danger w-75" (click)='backToMain()'>
        Back to main page
      </button>
    </div>
  </div>
  <div class="d-flex flex-row mx-2 my-1">
    <div class="w-75 h-75 mr-2 my-2 p-1 d-flex justify-content-center">
      <img src='{{ details?.artObject?.webImage?.url }}' alt='' class="img w-100">
    </div>
    <div class="d-flex flex-column w-25 h-75 ml-2 my-2 p-1 text-justify">
      <div class="mb-2"><b>Description</b>: {{ details?.artObject?.description }}</div>
      <div class="mb-2"><b>Creator</b>: {{ details?.artObject?.principalMaker }}</div>
      <div class="mb-2"><b>Date</b>: {{ details?.artObject?.dating?.presentingDate }}</div>
    </div>
  </div>
</div>



